<footer class="page-footer light-blue darken-1">
  <div class="container">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col l6 s12">
        <h5 class="white-text">เว็บนี้คืออะไร?</h5>
        <p class="grey-text text-lighten-4">เว็บนี้คือบล็อกส่วนตัวของเพียว (ภัคพล พงษ์ทวี) เขียนขึ้นเพื่อเผยแพร่ ความรู้และโปรแกรมที่สร้างขึ้น ผมหวังว่าทุกท่านที่เข้ามาจะได้รับประโยชน์ไม่มากก็น้อย</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">แอปอื่นๆที่สร้างโดยผม</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://irin.in.th">ไอริน</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://mumu.irin.in.th">มูมู่</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://github.com/pureexe/th-news">TH-news</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright light-blue darken-2">
    <div class="container" style="padding-left:10px;padding-right:10px;">
      © 2015 Pure's App
      <a class="grey-text text-lighten-4 right" href="#" id="site-bottom-to-top-btn"><i class="mdi-hardware-keyboard-arrow-up" style="font-size:36px;"></i></a></div>
    </div>
</footer>
<div id="fb-root"></div>
