<footer>
  <div style="padding:14px;background-color:whitesmoke;">
    <div class="container" style="max-width:1280px;display:flex;justify-content: space-between;">
      <div>
        © 2018 Pure's app
      </div>
      <div style="flex:1;"></div>
      <div>
        <a href="https://bulma.io" target="_blank">
          <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
        </a>
      </div>
    </div>
  </div>
</footer>
<div id="fb-root"></div>
