<header class="site-header">
  <div class="light-blue darken-1" id="page-header">
      <div class="container">
        <div id="header-panel">
          <div id="site-title">
            <a class="white-text" href="/">
              Pure's app
            </a>
          </div>
          <div class="grey-text text-lighten-4" id="site-description" >
            บล็อกเล็กๆของเพียว
          </div>
          <div id="site-hamburger">
            <a class="toggle-navmenu btn-floating btn-at-topright waves-effect waves-light deep-orange lighten-2">
              <i class="mdi-navigation-menu"></i>
            </a>
            <a class="toggle-navapp btn-floating btn-at-topright waves-effect waves-light pink lighten-3">
              <i class="mdi-action-extension"></i>
            </a>
            <a class="toggle-navfollow btn-floating btn-at-topright waves-effect waves-light lime lighten-1">
              <i class="mdi-action-favorite-outline"></i>
            </a>
            <a class="toggle-navsearch btn-floating btn-at-topright waves-effect waves-light light-blue lighten-4">
              <i class="mdi-action-search"></i>
            </a>
          </div>
        </div>
      </div>
  </div>
  <nav class="light-blue darken-2 nav-menubar" id="nav-menu">
      <div class="container">
          <div class="nav-wrapper" style="text-align: center">
              <ul class="left hide-on-med-and-down nav-menu-set" id="nav-menu-large">
                  <li>
                      <a href="/">หน้าหลัก</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" data-activates="facebook-app-dropdown-large" href="#!">แอปเฟสบุ๊ค</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a href="https://me.pureapp.in.th" target="_blank">ทำความรู้จัก</a>
                  </li>
              </ul>
              <ul class="hide-on-small-only hide-on-large-only nav-menu-set" id="nav-menu-medium" style="display: inline-block;">
                  <li>
                      <a href="/">หน้าหลัก</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" data-activates="facebook-app-dropdown-medium" href="#!">แอปเฟสบุ๊ค</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a href="https://me.pureapp.in.th" target="_blank">ทำความรู้จัก</a>
                  </li>
              </ul>
              <ul class="hide-on-med-and-up nav-menu-set" id="nav-menu-small" style="display: inline-block;line-height: 56px;">
                  <li>
                      <a href="/"> หน้าหลัก</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" data-activates="facebook-app-dropdown-small" href="#!">แอปเฟสบุ๊ค</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" data-activates="menunav-dropdown-small" href="#!">
                          <i class="mdi-navigation-more-horiz" style="font-size:1.5rem;" ></i>
                      </a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="facebook-app-dropdown-large">
                <li>
                    <a href="https://www.pureapp.in.th/p/fblive.html">ถ่ายทอดสดผ่านเฟสบุ๊ค</a>
                </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/topcomment.html">ใครคอมเม้นคุณมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/toplike.html">ใครไลค์ฉันมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/status-post">ฉันอัพสเตตัสไปกี่ครั้งแล้ว</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure">แจ้งปัญหา</a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="facebook-app-dropdown-medium">
                <li>
                    <a href="https://www.pureapp.in.th/p/fblive.html">ถ่ายทอดสดผ่านเฟสบุ๊ค</a>
                </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/topcomment.html">ใครคอมเม้นคุณมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/toplike.html">ใครไลค์ฉันมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/status-post">ฉันอัพสเตตัสไปกี่ครั้งแล้ว</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure">แจ้งปัญหา</a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="facebook-app-dropdown-small">
                <li>
                    <a href="https://www.pureapp.in.th/p/fblive.html">ถ่ายทอดสดผ่านเฟสบุ๊ค</a>
                </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/topcomment.html">ใครคอมเม้นคุณมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/p/toplike.html">ใครไลค์ฉันมากที่สุด</a>
                  </li>
                  <li>
                      <a href="https://www.pureapp.in.th/status-post">ฉันอัพสเตตัสไปกี่ครั้งแล้ว</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure">แจ้งปัญหา</a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="menunav-dropdown-small">
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a href="#!">ทำความรู้จัก</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <nav class="light-blue darken-2 nav-menubar" id="nav-app" style="display:none;">
      <div class="container">
          <div class="nav-wrapper" style="text-align: center">
              <ul class="left hide-on-med-and-down nav-app-set" id="nav-app-large">
                  <li>
                      <a href="#">แอปของผม</a>
                  </li>
                  <li>
                      <a href="https://mumu.irin.in.th" target="_blank">มูมู่</a>
                  </li>
                  <li>
                      <a href="https://irin.in.th/" target="_blank">ไอริน</a>
                  </li>
                  <li>
                      <a href="https://github.com/pureexe/th-news" target="_blank">TH-news</a>
                  </li>
              </ul>
              <ul class="hide-on-small-only hide-on-large-only nav-app-set" id="nav-app-medium" style="display: inline-block;">
                  <li>
                      <a href="#">แอปของผม</a>
                  </li>
                  <li>
                      <a href="https://mumu.irin.in.th" target="_blank">มูมู่</a>
                  </li>
                  <li>
                      <a href="https://irin.in.th/" target="_blank">ไอริน</a>
                  </li>
                  <li>
                      <a href="https://github.com/pureexe/th-news" target="_blank">TH-news</a>
                  </li>
              </ul>
              <ul class="hide-on-med-and-up nav-app-set" id="nav-app-small" style="display: inline-block;line-height: 56px;">
                  <li>
                      <a href="#">แอปของผม</a>
                  </li>
                  <li>
                      <a href="https://mumu.irin.in.th" target="_blank">มูมู่</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" id="btn-menuapp-dropdown-small" data-activates="menuapp-dropdown-small" href="#!">
                          <i class="mdi-navigation-more-horiz" style="font-size:1.5rem;" ></i>
                      </a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="menuapp-dropdown-small">
                  <li>
                      <a href="https://irin.in.th/" target="_blank">ไอริน</a>
                  </li>
                  <li>
                      <a href="https://github.com/pureexe/th-news" target="_blank">TH-news</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <nav class="light-blue darken-2 nav-menubar" id="nav-follow" style="display:none;">
      <div class="container">
          <div class="nav-wrapper" style="text-align: center">
              <ul class="left hide-on-med-and-down nav-follow-set" id="nav-follow-large">
                  <li>
                      <a href="#">ติดตาม</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a href="https://github.com/pureexe" target="_blank">Github</a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/+pakkaponphongtawee" target="_blank">Google+</a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/channel/UCWB-vERbWJom4RypIK9ZbIg" target="_blank">Youtube</a>
                  </li>
              </ul>
              <ul class="hide-on-small-only hide-on-large-only nav-follow-set" id="nav-follow-medium" style="display: inline-block;">
                  <li>
                      <a href="#">ติดตาม</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a href="https://github.com/pureexe" target="_blank">Github</a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/+pakkaponphongtawee" target="_blank">Google+</a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/channel/UCWB-vERbWJom4RypIK9ZbIg" target="_blank">Youtube</a>
                  </li>
              </ul>
              <ul class="hide-on-med-and-up nav-follow-set" id="nav-follow-small" style="display: inline-block;line-height: 56px;">
                  <li>
                      <a href="#">ติดตาม</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/appmadebypure" target="_blank">แฟนเพจ</a>
                  </li>
                  <li>
                      <a class="dropdown-navbutton" data-activates="menufollow-dropdown-small" href="#!">
                          <i class="mdi-navigation-more-horiz" style="font-size:1.5rem;" ></i>
                      </a>
                  </li>
              </ul>
              <ul class="dropdown-content" id="menufollow-dropdown-small">
                  <li>
                      <a href="https://github.com/pureexe" target="_blank">Github</a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/+pakkaponphongtawee" target="_blank">Google+</a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/channel/UCWB-vERbWJom4RypIK9ZbIg" target="_blank">Youtube</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <nav class="light-blue darken-2 nav-menubar" id="nav-search" style="display:none;">
      <div class="container" style="height:100%;">
          <div class="nav-wrapper" style="text-align: center">
              <form action="{{ "/search" | prepend: site.baseurl}} ">
                  <div class="input-field" id="input-field-search">
                      <input id="search-on-input" name="q" placeholder="ค้นหา" type="search" ></i>
                      <label for="search">
                          <i class="mdi-action-search" ></i>
                      </label>
                      <i class="mdi-navigation-close" ></i>
                  </div>
              </form>
          </div>
      </div>
  </nav>
</header>
