<script type="text/javascript" src="/assets/js/facebook.js?v=20180101-1" async></script>
<script type="text/javascript" src="/assets/js/google-analytics.js?v=20180101-1" async></script>
{% if page.mathjax %}<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> {%endif%}
<noscript>
</noscript>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?v=20180101-1">
