<script>
[
  '/js/jquery-2.1.4.min.js',
  '/js/materialize.min.js',
  '/js/theme.js'
].forEach(function(src) {
  var script = document.createElement('script');
  script.src = src;
  script.async = false;
  document.head.appendChild(script);
});
</script>
<script>
      var cb = function(href) {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/css/main.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
        document.getElementsByTagName('body')[0].style.display = 'block';
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=351070565012663";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
