<!-- Modal structure -->
<div id="shareModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h3 class="title is-4">แบ่งปันบทความนี้</h3>
            <div class="buttons">
                <a href="#" id="shareTwitter" class="button is-info">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <span>X (Twitter)</span>
                </a>
                <a href="#" id="shareFacebook" class="button is-link">
                    <span class="icon">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span>Facebook</span>
                </a>
                <button id="copyLink" class="button is-light">
                    <span class="icon">
                        <i class="fa fa-link"></i>
                    </span>
                    <span>คัดลอกลิงค์</span>
                </button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Toast notification -->
<div id="toast" class="toast notification is-success">
    <!-- <button class="delete" id="closeToast"></button> -->
    คัดลอกไปยังคลิปบอร์ดแล้ว 
</div>