<div class="card">
  <div style="padding:1px 20px 1px 20px;">
    <ul style="line-height:1.8em">
      <li ><a href="http://www.pureapp.in.th/p/fblive.html">ถ่ายทอดสดผ่านเฟสบุ๊ค</a></li>
      <li ><a href="http://www.pureapp.in.th/p/whiteface.html">หน้าคุณขาวแค่ไหน</a></li>
      <li><a href="http://www.pureapp.in.th/p/topcomment.html">ใครคอมเม้นคุณมากที่สุด</a></li>
      <li><a href="http://www.pureapp.in.th/p/toplike.html">ใครไลค์ฉันมากที่สุด</a></li>
      <li><a href="http://www.pureapp.in.th/p/status-post.html">ฉันอัพสเตตัสไปกี่ครั้งแล้ว</a></li>
      <li><a href="http://www.facebook.com/appmadebypure">แจ้งปัญหา</a></li>
    </ul>
  </div>
</div>
