<div class="center">
  <div class="card" style="display: inline-block;max-width:100%;width:273px;margin-bottom: 0.5rem;overflow:hidden;">
    <div class="fb-page" data-href="https://www.facebook.com/puresapp" data-width="273" data-height="130" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/puresapp"><a href="https://www.facebook.com/puresapp">Pure&#039;s app</a></blockquote></div></div>
  </div>
</div>
