<h2 style="font-size:1.5em;">
คลังบทความ
</h2>
<div class="card">
  <div class="card-content">
    <ul class="widget-postlist">
      {% assign yearDisplay = 0 %}
      {% assign monthDisplay = 0 %}
      {% for post in site.posts %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          {% assign countYear = 0 %}
          {% for tPost in site.posts %}
            {% capture tYear %}{{ tPost.date | date: '%Y' }}{% endcapture %}
            {% if tYear == year %}
              {% assign countYear = countYear | plus: 1 %}
            {% endif %}
          {% endfor %}
          <li class="year"><span class="cursor">{% if yearDisplay == 0 %}▼{% else %}►{% endif %}</span> <a href="#">{{year | plus: "543" }}</a> <span>({{countYear}})</span>
            <ul class="sublist" style="{% if yearDisplay != 0 %}display:none;{% endif %}" >
              {% assign yearDisplay = yearDisplay | plus: 1 %}
              {% for mPost in site.posts %}
                {% capture month %}{{ mPost.date | date: '%m%Y' }}{% endcapture %}
                {% capture nmonth %}{{ mPost.next.date | date: '%m%Y' }}{% endcapture %}
                {% capture lyear %}{{ mPost.date | date: '%Y' }}{% endcapture %}
                {% if month != nmonth and lyear == year %}
                  {% assign countMonth = 0 %}
                  {% for tPost in site.posts %}
                    {% capture tMonth %}{{ tPost.date | date: '%m%Y' }}{% endcapture %}
                    {% if tMonth == month %}
                      {% assign countMonth = countMonth | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                  <li class="month"><span class="cursor">{% if monthDisplay == 0 %}▼{% else %}►{% endif %}</span> <a href="#">{{ mPost.date | date: "%B" | replace:'January','มกราคม' | replace:'February','กุมภาพันธ์' | replace:'March','มีนาคม' | replace:'April','เมษายน' | replace:'May','พฤษภาคม' | replace:'June','มิถุนายน' | replace:'July','กรกฏาคม' | replace:'August','สิงหาคม' | replace:'September','กันยายน' | replace:'October','ตุลาคม' | replace:'November','พฤศจิกายน' | replace:'December','ธันวาคม' }}</a> <span>({{countMonth}})</span>
                    <ul class="sublist" style="{% if monthDisplay != 0 %}display:none;{% endif %}">
                      {% assign monthDisplay = monthDisplay | plus: 1 %}
                      {% for tPost in site.posts %}
                        {% capture tMonth %}{{ tPost.date | date: '%m%Y' }}{% endcapture %}
                        {% if tMonth == month %}
                          <li class="post"><a href="{{tPost.url}}">{{tPost.title}}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor%}
    </ul>
  </div>
</div>
