
<div style="max-width:100%;width:273px;margin-bottom: 0.5rem;overflow:hidden;margin-top:10px; margin-top: 10px;margin-left: auto;margin-right: auto;display: block;">
  <div class="fb-page" data-href="https://www.facebook.com/puresapp" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/puresapp" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/puresapp">Pure&#039;s app</a></blockquote></div>
</div>

<!--
<div style="max-width:100%;width:273px;margin-bottom: 0.5rem;overflow:hidden;margin-top:10px;    margin-top: 10px;margin-left: auto;margin-right: auto;display: block;">
  <iframe src="https://web.facebook.com/plugins/page.php?app_id=351070565012663&domain=www.pureapp.in.th&container_width=273&height=130&hide_cover=false&href=https://www.facebook.com/puresapp&locale=th_TH&sdk=joey&show_facepile=false&show_posts=false&width=273&_rdc=1&_rdr" width="273" height="130"></iframe>
</div>
-->