<h2 style="font-size:1.5em;">
คลังบทความ
</h2>
<div class="card">
  <div class="card-content">
    {% assign yearStart = false %}
    {% assign monthStart = false %}
    {% for post in site.posts %}
      <ul>
        {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <li>=== {{year}} === </li>
        {% endif %}
        {% if month != nmonth %}
          <li>--- {{ post.date | date:'%B' }} ---</li>
        {% endif %}
        <li><a href="{{ post.url }}">{{post.title}}</a></li>
      </ul>
    {% endfor%}
  </div>
</div>
