.post-title{
    font-size: 1.64rem;
    text-align: center;
}
.card-titlepanel{
	border-bottom: 1px solid rgba(160,160,160,0.2);
	padding: 10px;
}
.post{
  margin-top:10px;
}
.card-content{
  padding: 1rem;
}
footer{
  margin-top: 20px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Hidden by default */
}

@media only screen and (max-width: 768px)  {
  .panel-main{
    padding: 0px;
  }
  .post, .index-post{
    .card-content{
      padding: 10px;
    }
  }
}
