/***
HOT FIX FOR NAV SEARCH PROBLEM ON CHROME 50
**/
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}
/** END OF HOT FIX **/
.container{
  padding-left: 0%;
  padding-right: 0%;
  width: 85%;
  @include media-query($on-mobile) {
      width: 100%;
  }
}

body {
  background-color: #fafafa;
  padding:0px;
}
#header-panel{
  position: relative;
  @include media-query($on-tablet) {
    text-align: center;
  }
  #site-title{
    line-height: 1.4;
    color:white;
    font-size:24px;
    padding-left: 15px;
    @include media-query($on-tablet) {
      padding-left: 0px;
    }
  }
  #site-description{
    line-height: 1.4;
    color:white;
    padding-left: 15px;
    @include media-query($on-tablet) {
      padding-left: 0px;
    }
  }
  #site-hamburger{
    position: absolute;
    right: 0px;
    top: 0px;
    @include media-query($on-tablet) {
      margin-top: 15px;
      position: static;
    }
  }
}

#page-header{
  padding-top:15px;
  padding-bottom:15px;
}

.card-titlepanel{
	border-bottom: 1px solid rgba(160,160,160,0.2);
	padding: 10px;
}
.post-title{
  font-size: 1.64rem;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
}
.collapsible-header {
	background-color:rgba(255, 255, 255, 0);
}
li.archivedate{
	padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -20px;
    margin-bottom: 0px;
}
.btn-at-topright{
	height:50px;
	width:50px;
	margin: 3px;
}
.btn-at-topright i{
	line-height:50px;
}
.dropdown-content li>a, .dropdown-content li>span{
	font-size:1rem;
}
#headersec{
	margin:0px;
	padding:0px;
}
#Header1{
	margin:0px;
}
.nav-wrapper>ul>li{
	padding:0px;
}
@media screen and (max-width: 600px) {
  .nav-wrapper>ul{
    padding:0px;
    height: 56px;
    line-height: 56px;
  }
}
@media screen and (min-width: 600px) {
  .nav-wrapper>ul{
      padding:0px;
    height: 64px;
    line-height: 64px;
  }
}
.nav-wrapper>ul>li>ul>li{
	padding:0px;
}
.nav-wrapper>ul>li>ul{
  padding:0px;
  line-height: 64px;
}
.widget ul{
	padding:0px;
}
.widget {
	margin:0px;
}
.widget>h2{
	font-size: 22px;
	line-height:0;
	margin-top:30px;
	margin-bottom:30px;
}
#tt-torrent a>img {
  max-width: 100%;
  height: auto;
}
.widget .post-body ul {
  padding: 0;
  margin: 0;
}
.card-content a>img{
  max-width: 100%;
  height: auto;
}
.card-content a{
	margin-left:0px;
	margin-right:0px;
}
.section {
  margin:0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropdown-content{
	z-index:10;
}
.blogtitle{
	font-size:1.8rem;
	margin-top:0.8rem;
	margin-bottom:0.8rem;
	margin-left:0.4rem;
	margin-right:0.4rem;
}
.site-post-card-description{
  font-size: 1.1rem;
  line-height: 1.85rem;
  color: rgb(68, 68, 68);
}
.widget-postlist{
  line-height: 1.8rem;
  margin: 0px;
  li.month{
    margin-left:1em;
  }
  li.post{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    margin-left:2em;
    list-style-type: circle;
  }
}
footer{
  ul{
    li{
      line-height: 1.8rem
    }
  }
}
.card{
  .cursor{
    font-family: fantasy;
    font-size: 0.9rem;
  }
}
