.post-title{
    font-size: 1.64rem;
    text-align: center;
}
.card-titlepanel{
	border-bottom: 1px solid rgba(160,160,160,0.2);
	padding: 10px;
}
.post{
  margin-top:10px;
}
footer{
  margin-top: 20px;
}
/*position:sticky;top:0*/
