.markdown-render{
  font-size: 1.1rem;
  line-height: 1.85rem;
  color: rgb(68, 68, 68);
  img{
    max-width: 100%;
  }
  h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  h2{
  	border-bottom: 1px solid #eee;
    padding-bottom: 0.7rem;
    font-size: 1.64rem;
  }
   h3{
  	font-size:1.4rem;
  }
  h4{
  	font-size:1.2rem;
  }
  strong {
      font-weight: bold;
  }
  ul{
    padding-left: 40px;
    li{
      list-style-type: circle;
    }
  }
  ol{
    li{
      list-style-type: decimal;
    }
  }
  .card-content{
    margin-top: 0px;
  }
  p{
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
  p::first-letter{
    margin-left:2rem;
  }
  .small-image{
    max-width: 400px;
  }
  .medium-image{
    max-width: 640px;
  }
  .middle-image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
  }
  p>code{
    color: #e64946;
    font-family: Monaco,MonacoRegular,"Courier New",monospace!important;
    font-size: .9em;
  }
}
