.markdown-render{
  img{
    max-width: 100%;
  }
  h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h2{
  	font-weight:bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.7rem;
    font-size: 1.5rem;
  }
   h3{
  	font-size:1.4rem;
    font-weight: bold;
  }
  h4{
  	font-size:1.0rem;
    font-weight: bold;
  }
  ul{
    padding-left: 40px;
    li{
      list-style-type: circle;
    }
  }
  ol{
    li{
      list-style-type: decimal;
    }
  }
  .card-content{
    margin-top: 0px;
  }
  p{
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
  p::first-letter{
    margin-left:2rem;
  }
  .small-image{
    width: 400px;
  }
  .middle-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
