---
layout: default
---
<div class="post">
  <div class="card">
    <div class="card-titlepanel center">
      <a href="#"><h1 class="post-title">{{ page.title }}</h1></a>
    </div>
    <div class="card-content">
      <article class="markdown-render">
        {{ content }}
      </article>
    </div>
  </div>
  <div class="card">
    <div class="card-comment">
        <div class="fb-comments" data-href="{{page.url | prepend: site.baseurl | prepend: site.url }}" data-width="100%" data-numposts="5"></div>
    </div>
  </div>
</div>
