---
layout: default
---
<div class="post">
  <div class="card" itemscope itemtype='http://schema.org/BlogPosting'>
    <div class="card-titlepanel center">
      <a href="#"><h1 class="post-title" itemprop="headline">{{ page.title }}</h1></a>
      {% if page.thumbnail %}
      <meta itemprop="image" content="{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}"/>
      {% else %}
      <meta content='{{" /assets/images/pureapp-logo-200.png " | prepend: site.baseurl | prepend: site.url }}' itemprop="image"/>
      {% endif %}
    </div>
    <div class="card-content">
      <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 340 }}"/>
      <article class="markdown-render" itemprop="articleBody">
        {{ content }}
      </article>
    </div>
    <div class="card-action">
      <span>
        <i class="mdi-device-access-time"></i>
        <meta content="{{ page.date }}" itemprop="datePublished">
        <span class="date-display" style="margin-right:0.5em;">
          <span class="date">{{ page.date | date: "%d %B" | replace:'January','มกราคม' | replace:'February','กุมภาพันธ์' | replace:'March','มีนาคม' | replace:'April','เมษายน' | replace:'May','พฤษภาคม' | replace:'June','มิถุนายน' | replace:'July','กรกฏาคม' | replace:'August','สิงหาคม' | replace:'September','กันยายน' | replace:'October','ตุลาคม' | replace:'November','พฤศจิกายน' | replace:'December','ธันวาคม' }} {{ page.date | date: "%Y" | plus:"543"}}</span>
        </span>
        <div style="display:inline-block">
          {% for tag in page.tags %}
            <div class="chip">
              <a href="{{baseurl}}/search.html?q={{tag}}&amp;type=tag" class="grey-text text-darken-1" rel="tag" style="margin-right:0px;">
                {{tag}}
              </a>
            </div>
          {% endfor %}
        </div>
        </span>
    </div>
  </div>
  <div class="card">
    <div class="card-comment">
        <div class="fb-comments" data-href="{{page.url | prepend: site.baseurl | prepend: site.url }}" data-width="100%" data-numposts="5"></div>
    </div>
  </div>
</div>
